@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #111827;
  color: white;
  overflow: hidden;
}

.pixel-font {
  font-family: 'Press Start 2P', cursive;
}